<!DOCTYPE html>
<html>
<head>
    <title>Convertisseur d’unités</title>
    
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Convertisseur d’unités</h1>

    <form id="convertForm">
        <input
            id="value"
            type="number"
            step="any"
            name="value"
            placeholder="Valeur"
            required>

        <select
            id="category"
            name="category">

            <option value="length">Longueur</option>
            <option value="weight">Poids</option>
            <option value="temperature">Température</option>
        </select>

        <input
            id="from_unit"
            type="text"
            name="from_unit"
            placeholder="Unité source (ex: m, kg, C)"
            required>

        <input
            id="to_unit"
            type="text"
            name="to_unit"
            placeholder="Unité cible (ex: km, lb, F)"
            required>

        <button
            id="convertButton"
            type="submit">
            Convertir
        </button>

    </form>

    <h2 id="result"></h2>

    <script src="{{ url_for('static', path='script.js') }}"></script>
</body>
</html>
